{% if mission_status %}
<p><strong>Mission:</strong> {{ mission_status.mission }}</p>
<p><strong>{{ mission_status.players|length }} players:</strong> {{ mission_status.players|join(", ") }}</p>
{% if mission_status.paused in (True, False) %}
<p><strong>Game status:</strong> {{ "Paused" if mission_status.paused else "Playing" }}</p>
{% endif %}
{% if pending_orders %}
<p><strong>Pending actions:</strong> {{ ", ".join(pending_orders) }}.
<a href="#" hx-post="/dcs/cancel_orders" hx-target="#dcs-mission-status">Cancel actions</a>
</p>
{% endif %}
{% else %}
<p>No mission status available. If the server is running, maybe you need to
   <a href="#" hx-post="/dcs/install_hook" hx-target="#dcs-mission-status">install/update the hook</a>.</p>
{% endif %}
