<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>
<body>
    <h1>
        <img src="{{ url_for('static', filename='icon.png') }}" alt="Icon">
        DCS Server Manager
    </h1>

    <div id="config">
        <h2>Config</h2>

        <p>TODO</p>
    </div>

    <div id="dcs-server">
        <h2>DCS Server</h2>

        <p>TODO</p>
    </div>

    <div id="srs-server">
        <h2>SRS Server</h2>

        <p>TODO</p>
    </div>
</body>
