<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DCS Server Manager</title>
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='htmx_2.0.4.min.js') }}"></script>
</head>
<body>
    <div class="sidebar">
        <img class="main-logo" src="{{ url_for('static', filename='icon.png') }}" alt="Icon">
        <h1>DCS Server Manager</h1>
        <button class="nav-link" data-target="dcs-section" onclick="showSection('dcs-section')">
            <span id="dcs-status-icon" hx-get="/dcs/status/short" hx-trigger="load, every 5s">⚪</span> DCS
        </button>
        <button class="nav-link" data-target="srs-section" onclick="showSection('srs-section')">
            <span id="srs-status-icon" hx-get="/srs/status/short" hx-trigger="load, every 5s">⚪</span> SRS
        </button>
        <button class="nav-link" data-target="manager-section" onclick="showSection('manager-section')">
            <span id="jobs-status-icon" hx-get="/jobs/status/short" hx-trigger="load, every 5s">⚪</span> Server Manager
        </button>

        <footer class="sidebar-footer">
            <p>Version: <span id="version" hx-get="/version" hx-trigger="load"></span></p>
        </footer>
    </div>

    <div class="main-content">
        <div class="section" id="dcs-section">
            <div class="section-content">
                <h2>DCS Server:
                    <span id="dcs-status" hx-get="/dcs/status" hx-trigger="load, every 5s">
                        Loading status...
                    </span> 
                </h2>
                <div id="dcs-resources" hx-get="/dcs/resources" hx-trigger="load, every 5s">
                    Loading resources usage...
                </div>
                <div id="dcs-mission-status" hx-get="/dcs/mission_status" hx-trigger="load, every 5s">
                    Loading mission status...
                </div>
                <div class="button-group">
                    <button class="btn-normal" hx-post="/dcs/start" hx-target="#dcs-status">Start</button>
                    <button class="btn-normal" hx-post="/dcs/restart" hx-target="#dcs-status">Restart</button>
                    <button class="btn-red" hx-post="/dcs/kill" hx-target="#dcs-status">Kill</button>
                </div>

                <details class="foldable-section">
                    <summary>Manager settings</summary>
                    <div id="dcs-manager-config" hx-get="/dcs/manager_config_form" hx-trigger="load">
                        Loading config...
                    </div>
                    <div class="button-group">
                        <button class="btn-normal" hx-post="/dcs/manager_config_form" hx-target="#dcs-manager-config" hx-include="#dcs-manager-config-form">
                            Save and apply
                        </button>
                        <button class="btn-normal" hx-get="/dcs/manager_config_form" hx-target="#dcs-manager-config">
                            Discard changes
                        </button>
                    </div>
                    <h3>Hook me to the DCS Server</h3>
                    <p>
                        The hook is a lua script that runs inside the DCS Server, and gets the current mission and player list, 
                        to then be able to show it in the status section right above. Installing it isn't required, but it is 
                        quite useful and easy to do (just click the button and restart the server).
                    </p>
                    <div id="dcs-hook-action-result"></div>
                    <div class="button-group">
                        <button class="btn-normal" hx-get="/dcs/hook/check" hx-target="#dcs-hook-action-result">
                            Check if the hook is installed
                        </button>
                        <button class="btn-normal" hx-post="/dcs/hook/install" hx-target="#dcs-hook-action-result">
                            Install/update hook
                        </button>
                        <button class="btn-normal" hx-post="/dcs/hook/uninstall" hx-target="#dcs-hook-action-result">
                            Uninstall hook
                        </button>
                    </div>
                </details>
            </div>

            <div class="section-content">
                <h2>DCS Server Configuration</h2>
                <div id="dcs-config" hx-get="/dcs/config_form" hx-trigger="load">
                    Loading config...
                </div>
                <div class="button-group">
                    <button class="btn-normal" hx-post="/dcs/config_form" hx-target="#dcs-config" hx-include="#dcs-config-form">
                        Save
                    </button>
                    <button class="btn-normal" hx-post="/dcs/config_form/restart" hx-target="#dcs-config" hx-include="#dcs-config-form">
                        Save and restart DCS Server
                    </button>
                    <button class="btn-normal" hx-get="/dcs/config_form" hx-target="#dcs-config">
                        Discard changes
                    </button>
                </div>
            </div>

            <div class="section-content">
                <h2>Mission Files</h2>
                <div id="dcs-missions" hx-get="/dcs/missions" hx-trigger="load">
                    Loading missions...
                </div>
                <div class="button-group">
                    <button class="btn-normal" hx-get="/dcs/missions" hx-target="#dcs-missions">Refresh</button>
                    <button class="btn-normal" hx-post="/dcs/missions" hx-target="#dcs-missions" hx-include="#dcs-missions-form">
                        Delete selected
                    </button>
                    <button class="btn-normal" hx-post="/dcs/missions" hx-target="#dcs-missions" hx-include="#mission-upload-form" hx-encoding="multipart/form-data" hx-indicator="#mission-upload-working">
                        Upload mission file:
                    </button>
                    <form id="mission-upload-form" method=post>
                        <input type="file" name="upload_file">
                    </form>
                </div>
                <div id="mission-upload-working" class="working">
                    <p>
                        <img class="spinner" src="{{ url_for('static', filename='spinner.gif') }}" />
                        Uploading mission...
                    </p>
                </div>
            </div>

            <div class="section-content">
                <h2>Track Files</h2>
                <div id="dcs-tracks" hx-get="/dcs/tracks" hx-trigger="load">
                    Loading track files...
                </div>
                <div class="button-group">
                    <button class="btn-normal" hx-get="/dcs/tracks" hx-target="#dcs-tracks">Refresh</button>
                    <button class="btn-normal" hx-post="/dcs/tracks" hx-target="#dcs-tracks" hx-include="#dcs-tracks-form">
                        Delete selected
                    </button>
                </div>
            </div>

            <div class="section-content">
                <h2>Tacview Files</h2>
                <div id="dcs-tacviews" hx-get="/dcs/tacviews" hx-trigger="load">
                    Loading Tacview replay files...
                </div>
                <div class="button-group">
                    <button class="btn-normal" hx-get="/dcs/tacviews" hx-target="#dcs-tacviews">Refresh</button>
                    <button class="btn-normal" hx-post="/dcs/tacviews" hx-target="#dcs-tacviews" hx-include="#dcs-tacviews-form">
                        Delete selected
                    </button>
                </div>
            </div>

            <div class="section-content">
                <h2>Other utilities</h2>
                <h3>Pretense mission persistence</h3>
                <p>
                    The <a href="https://github.com/Dzsek/pretense">Pretense</a> dynamic campaign can save and reload progress
                    between server restarts. But that requires changing two lines in an internal DCS script file.
                    More info <a href="https://github.com/Dzsek/pretense?tab=readme-ov-file#7-persistence">here</a>.
                    With these buttons you can check wether that change is done, do it, or revert it.
                </p>
                <div id="pretense-utils-result"></div>
                <div class="button-group">
                    <button class="btn-normal" hx-get="/dcs/pretense/check_persistence" hx-target="#pretense-utils-result">
                        Check if persistence is enabled
                    </button>
                    <button class="btn-normal" hx-post="/dcs/pretense/enable_persistence" hx-target="#pretense-utils-result">
                        Enable
                    </button>
                    <button class="btn-normal" hx-post="/dcs/pretense/disable_persistence" hx-target="#pretense-utils-result">
                        Disable
                    </button>
                </div>
            </div>
        </div>

        <div class="section" id="srs-section">
            <div class="section-content">
                <h2>SRS Server:
                    <span id="srs-status" hx-get="/srs/status" hx-trigger="load, every 5s">
                        Loading status...
                    </span>
                </h2>
                <div id="srs-resources" hx-get="/srs/resources" hx-trigger="load, every 5s">
                    Loading resources usage...
                </div>
                <div class="button-group">
                    <button class="btn-normal" hx-post="/srs/start" hx-target="#srs-status">Start</button>
                    <button class="btn-normal" hx-post="/srs/restart" hx-target="#srs-status">Restart</button>
                    <button class="btn-red" hx-post="/srs/kill" hx-target="#srs-status">Kill</button>
                </div>

                <details class="foldable-section">
                    <summary>
                        Manager settings
                    </summary>
                    <div id="srs-manager-config" hx-get="/srs/manager_config_form" hx-trigger="load">
                        Loading config...
                    </div>
                    <div class="button-group">
                        <button class="btn-normal" hx-post="/srs/manager_config_form" hx-target="#srs-manager-config" hx-include="#srs-manager-config-form">
                            Save and apply
                        </button>
                        <button class="btn-normal" hx-get="/srs/manager_config_form" hx-target="#srs-manager-config">
                            Discard changes
                        </button>
                    </div>
                </details>
            </div>

            <div class="section-content">
                <h2>SRS Server Configuration</h2>
                <div id="srs-config" hx-get="/srs/config_form" hx-trigger="load">
                    Loading config...
                </div>
                <div class="button-group">
                    <button class="btn-normal" hx-post="/srs/config_form" hx-target="#srs-config" hx-include="#srs-config-form">
                        Save
                    </button>
                    <button class="btn-normal" hx-post="/srs/config_form/restart" hx-target="#srs-config" hx-include="#srs-config-form">
                        Save and restart SRS Server
                    </button>
                    <button class="btn-normal" hx-get="/srs/config_form" hx-target="#srs-config">
                        Discard changes
                    </button>
                </div>
            </div>
        </div>
  
        <div class="section" id="manager-section">
            <div class="section-content">
                <h2>DCS Server Manager</h2>
                <p>Version: <span hx-get="/version" hx-trigger="load"></span></p>
                <p><a href="https://github.com/fisadev/dcs_server_manager/releases" target="_blank">Releases</a></p>
                <p><a href="https://github.com/fisadev/dcs_server_manager/wiki" target="_blank">Documentation</a></p>
            </div>

            <div class="section-content">
                <h2>Automatic jobs:
                    <span id="jobs-status" hx-get="/jobs/status" hx-trigger="load, every 5s">
                        Loading status...
                    </span> 
                </h2>
                <p>
                    Health checks and other background jobs ensure your DCS and SRS servers stay up.
                    But in some situations you might want to pause that (for instance, to install updates or run other maintenance tasks).
                    You can temporarily pause and resume these jobs with the buttons below.
                </p>
                <div class="button-group">
                    <button class="btn-normal" hx-post="/jobs/enable" hx-target="#jobs-status">Enable</button>
                    <button class="btn-normal" hx-post="/jobs/disable" hx-target="#jobs-status">Disable</button>
                </div>
            </div>

            <div class="section-content">
                <h2>Global settings</h2>
                <div id="dsm-manager-config" hx-get="/dsm/manager_config_form" hx-trigger="load">
                    Loading config...
                </div>
                <div class="button-group">
                    <button class="btn-normal" hx-post="/dsm/manager_config_form" hx-target="#dsm-manager-config" hx-include="#dsm-manager-config-form">
                        Save and apply
                    </button>
                    <button class="btn-normal" hx-get="/dsm/manager_config_form" hx-target="#dsm-manager-config">
                        Discard changes
                    </button>
                </div>
            </div>

            <div class="section-content">
                <h2>Logs</h2>
                <p id="log-size" hx-get="/log/size" hx-trigger="load, every 60s">Loading info...</p>
                <pre id="logs" class="scroll-box logs-viewer">Click on "Refresh" to load logs</pre>
                <div class="button-group">
                    <button class="btn-normal" hx-get="/logs" hx-target="#logs">Refresh</button>
                    <button class="btn-red" hx-post="/log/clear" hx-target="#logs">Delete Logs</button>
                    <button class="btn-normal" hx-post="/log/archive" hx-target="#logs" 
                            title="Archiving moves the current logs to a separated archive file and starts a new clean log, to make things easier to read while still keeping the old log files just in case">
                        Archive Logs
                    </button>
                </div>
                <h2>DSM log files</h2>
                <div id="log-files" hx-get="/log/files" hx-trigger="load">
                    Loading log files...
                </div>
                <div class="button-group">
                    <button class="btn-normal" hx-get="/log/files" hx-target="#log-files">Refresh</button>
                    <button class="btn-normal" hx-post="/log/files" hx-target="#log-files" hx-include="#log-files-form">
                        Delete selected
                    </button>
                </div>
            </div>
        </div>
    </div>
  
    <script>
        function showSection(id) {
            document.querySelectorAll('.section').forEach(el => el.classList.remove('active'));
            document.querySelectorAll('.nav-link').forEach(el => el.classList.remove('active'));
            document.getElementById(id).classList.add('active');
            document.querySelector(`.nav-link[data-target="${id}"]`).classList.add('active');
        }
  
        document.addEventListener('DOMContentLoaded', () => {
            showSection('dcs-section');
        });
    </script>
</body>
</html>
