<form id="{{ server_name }}-manager-config-form" class="manager-config-form">
    <ul>
    {% for config_name, value in configs.items() %}
        <li class="{{ 'input-error' if config_name in broken_fields else '' }}">
            <label for="{{ config_name }}" title="{{ configs_spec[config_name].help }}">
                {{ config_name.replace(prefix, "").replace("_", " ").capitalize() }}:
            </label>
            {% if configs_spec[config_name].type.__name__ == "int" %}
                <input id="{{ config_name }}"
                       title="{{ configs_spec[config_name].help }}"
                       type="number"
                       name="{{ config_name }}"
                       value="{{ value or '' }}" />
            {% elif configs_spec[config_name].type.__name__ == "bool" %}
                <input id="{{ config_name }}"
                       title="{{ configs_spec[config_name].help }}"
                       type="checkbox"
                       name="{{ config_name }}"
                       {{ "checked" if value else "" }} />
            {% elif config_name.endswith("PASSWORD") %}
                <input id="{{ config_name }}"
                       title="{{ configs_spec[config_name].help }}"
                       type="password"
                       name="{{ config_name }}"
                       value="{{ value or '' }}" />
            {% else %}
                <input id="{{ config_name }}"
                       title="{{ configs_spec[config_name].help }}"
                       type="text" 
                       name="{{ config_name }}"
                       value="{{ value or '' }}" />
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</form>

<div>
    {% include "messages.html" %}
</div>
